process {
    withName: CHECKM2 {
        cpus = 30
    }
    withName: DREP_DEDUPLICATE {
        cpus = 60
    }
    withName: DREP_CATALOG {
        cpus = 60    
    }
    withName: DREP_RECLUSTER {
        cpus = 60    
    }
    withName: GTDBTK_QC {
        cpus = 32
        memory = { 300.GB * task.attempt }    
    }
    withName: GTDBTK_TAX {
        cpus = 32    
    }
    withName: IQTREE {
        cpus = 60    
    }    
    withName: PROKKA {
        cpus = 8;
        memory = '1.0 GB'
    }
    withName: MMSEQ { 
        container = 'quay.io/biocontainers/mmseqs2:13.45111--h2d02072_0'
        cpus = 6; 
        memory = '10.0 GB'
    }
    withName: IPS { 
        cpus = 6; 
        memory = '12.0 GB'
    }
    withName: EGGNOG_MAPPER {
        cpus = 6;
        memory = '50.0 GB'
    }
}
