manifest {
    mainScript = 'main.nf'
}
params {
    outdir = ''
    start_number = '1'
    end_number = ''
    version ='1.0'
    genome_prefix = ''
    input_genomes = ''
    input_cluster_split = ''

    //options
    run_checkm2 = false
    quality_filter = 'medium' //can choose medium or high
    drepcluster_method = 'fastANI'
    run_recluster = true
    skip_gtdb = false
    skip_tree = false
    skip_annotation = false
    mmseq_coverage_threshold = 0.8
    
    //database
    checkm2_db = "/mnt/database/CheckM2_database/v1.0.1/uniref100.KO.1.dmnd" 
    gtdb_db = "/mnt/database/GTDB_release_data/release220/" 
    interproscan_db = "/mnt/chenwen/00.database/Mgnify/interproscan-5.62-94.0/data" 
    eggnog_db = "bact" 
    eggnong_diamond_db = "/mnt/chenwen/00.database/Mgnify/eggnog/eggnog_proteins.dmnd" 
    eggnong_data_dir = "/mnt/chenwen/00.database/Mgnify/eggnog/" 
    dbcan_db = "/mnt/database/dbcan/4.1.3-V12" 
    kegg_classes = "/mnt/chenwen/00.database/Mgnify/kegg_classes.tsv"
    
}
profiles {

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    docker {
        docker {
            enabled = true
            fixOwnership = true
            autoMounts = true
            docker.runOptions = '-u $(id -u):$(id -g)'
        }
    }

    local {
        params.outdir = "result"
        executor {
            name = "local"
            cpus = 2
        }
        includeConfig 'config/local.config'
    }

}
